<%- include("partials/header") -%>

<form class="" action="/" method="post">
    <label>Subscribe Topic: </label>
    <input type="text" name="stopic" value="">
    <input type="submit" name="submit" value="Subscribe">
</form>

<hr>

<div class="">
    <h1>Topic</h1>
    <p><%= subTopic %></p>
</div>

<div class="">
    <h1>Moisture level: </h1>
    <p>Moisture Level : <%= moistureMessage %></p>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- MQTT.js CDN -->
<!-- if CDN is used - Globally initializes an mqtt variable -->
<!-- <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script> -->
<script src="dashboard" type="text/javascript">

</script>

<%- include("partials/footer") -%>
